@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Pacifico&display=swap');
body {
    font-family: 'Comfortaa', cursive;
    background: #111111;
}

//font size
.md-font {
    color: #BC8A00;
    font-size: 18px;
}

.sm-font {
    font-size: 14px;
}

//color 
.orange-light {
    color: #BC8A00;
}

.orange-dark {
    color: #8f6900;
}

.light-gray {
    color: #ECECEC;
}